---
import McButton from "./McButton.astro";

interface Props {
  infoHref: `#${string}`;
  downloadHref: `#${string}`;
}

const { infoHref, downloadHref } = Astro.props;
---

<>
  <span class="desc">
    Jedną z ulubionych gier Gumciaczków jest Minecraft. Stąd pomysł na uruchomienie własnego servera
    Java Edition. Łącznie odbyły się cztery edycje, w których trakcie przez wiele godzin wspólnymi
    siłami zbudowaliśmy wiele wspaniałych budowli, jednocześnie świetnie się bawiąc.
    <!--
   Pierwsza edycja wystartowała na początku wakacji 2021 i udostępniała świat
   w wersji 1.17. Następna już z większym rozmachem wystartowała 20 grudnia 2021
   hostując wersję 1.18.1.
   -->
  </span>
  <div id="mc-ip">offline</div>
  <div class="buttons">
    <McButton href={infoHref}>Informacje</McButton>
    <McButton href={downloadHref}>Pobieranie</McButton>
  </div>
</>

<style>
  .desc {
    width: 100%;
    font-size: min(2vw, 40px);
    padding: min(2vw, 40px);
    text-shadow: 0.1vw 0.1vw 0.1vw #000;
  }
  .buttons {
    display: flex;
    gap: min(1vw, 20px);
  }
  #mc-ip {
    background-color: #000;
    cursor: pointer;
    padding: min(0.6vw, 12px);
    width: 80%;
    font-family: "Minecraft";
    border: min(0.24vw, 5px) solid #ddd;
    white-space: normal;
    text-align: center;
    color: #f55;
    text-shadow: 0.15vw 0.15vw #fff3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    user-select: none;
  }
  #mc-ip.online {
    color: #5f5;
  }
  #mc-ip::after {
    content: "";
    background-image: url("../../../assets/odswiez.svg");
    width: min(2.6vw, 52px);
    height: min(2.6vw, 52px);
    position: absolute;
    right: min(1vw, 20px);
    opacity: 0;
    display: inline-block;
    background-size: 100%;
    transition: opacity 0.15s ease-in-out;
  }
  #mc-ip.online::after {
    background-image: url("../../../assets/kopiuj.svg");
  }
  #mc-ip:hover::after {
    opacity: 100%;
  }
</style>
