---
import backgroundWEBM from "./files/minecraft-bg.webm";
import headerDeskopPNG from "./files/zServMC.png";
import headerMobilePNG from "./files/zServMCCol.png";

import Window from "./components/Window.astro";
import Desc from "./components/Desc.astro";
import Info from "./components/Info.astro";
import Download from "./components/Download.astro";

interface Props {
  id?: string;
}

const { id } = Astro.props;
---

<section id={id} class="minecraft">
  <video id="mc-bg" loop muted autoplay tabindex="-1" aria-hidden="true">
    <source src={backgroundWEBM} type="video/webm" />
  </video>

  <div class="name">
    <img src={headerDeskopPNG.src} alt="" />
    <img src={headerMobilePNG.src} alt="" />
  </div>

  <div class="content">
    <Window id="mc-server" name="OPIS">
      <Desc infoHref="#mc-info" downloadHref="#mc-pobierz" />
    </Window>

    <Window id="mc-info" name="INFO" backHref="#mc-server">
      <Info pluginsHref="#mc-pluginy" rulesHref="#mc-zasady" />
    </Window>

    <Window id="mc-pluginy" name="PLUGINY" backHref="#mc-info">
      <ul>
        <li>GadgetsMenu</li>
        <li>HoloMobHealth</li>
        <li>LockettePro</li>
        <li>LoginSecurity</li>
        <li>NewGods</li>
        <li>UltimateHomes</li>
        <li>SkinsRestorer</li>
        <li>Vehicles</li>
      </ul>
    </Window>

    <Window id="mc-zasady" name="ZASADY" backHref="#mc-info">
      <ol>
        <li>Nie rób drugiemu tego,<br />co Tobie niemiłe.</li>
        <li>Nie nisz efektów cudzej pracy.</li>
        <li>Nie utrudniaj życia innym.</li>
        <li>Smoka bijemy razem.</li>
        <li>Baw się dobrze.</li>
      </ol>
    </Window>

    <Window id="mc-pobierz" name="ZAPISY" backHref="#mc-server">
      <Download />
    </Window>
  </div>
</section>

<style>
  @font-face {
    src: url("./files/minecraft.woff2");
    font-family: "Minecraft";
    font-display: fallback;
  }
  .minecraft {
    position: relative;
    padding: min(3vw, 60px);
    width: 100%;
    height: 100vh;
    height: 100dvh;
    max-height: 1200px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    scroll-snap-align: center;
    box-shadow: 0 0 1vw 0 #000;
    isolation: isolate;
    background-image: url("./files/minecraft-bg-alt.webp");
    background-position: center;
  }
  .minecraft video {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    background-color: transparent;
  }
  .name {
    margin-top: 50px;
  }
  .name img {
    width: 950px;
  }
  .name img:last-child {
    display: none;
  }
  .content {
    width: 80%;
    /* aspect-ratio: 108/48; */
    overflow: hidden;
    white-space: nowrap;
    background: #0006;
    scroll-behavior: smooth;
  }
  .minecraft ol,
  .minecraft ul {
    min-width: 90%;
    /*list-style-position: inside;*/
  }
  .minecraft li {
    font-size: min(3vw, 60px);
    text-shadow: 0.1vw 0.1vw 0.1vw #000c;
    margin-left: min(6vw, 120px);
  }
  @media (min-width: 1200px) {
    .minecraft {
      min-height: min(45vw, 1200px);
    }
    .content {
      min-height: min(33vw, 660px);
    }
  }
  @media (max-width: 1200px) {
    .name img {
      width: 90vw;
    }
  }
  @media (max-width: 500px) {
    .minecraft {
      width: 100%;
      height: calc(100vh - 75px);
      height: calc(100dvh - 75px);
      min-height: 115vw;
      max-height: unset;
      scroll-snap-align: end;
      justify-content: space-evenly;
    }
    .name {
      margin-top: unset;
    }
    .name img:first-child {
      display: none;
    }
    .name img:last-child {
      display: unset;
    }
    .content {
      width: 95%;
      aspect-ratio: auto;
    }
    .window {
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .subname {
      writing-mode: horizontal-tb;
      font-size: 5vw;
      height: unset;
      width: 100%;
      flex-direction: row-reverse;
      justify-content: space-between;
      background: #45331e url("./files/Stripped-Dark-Oak-Left.jpg");
      background-size: auto 100%;
    }
    .desc {
      font-size: 3.4vw;
    }
    .back {
      margin-top: auto;
      margin-left: 3vw;
    }
    .subcontent {
      background-size: 10vw;
      border: 0.6vw solid #0006;
      font-size: 4vw;
    }
    #mc-ip::after {
      width: 3.6vw;
      height: 3.6vw;
      right: 1vw;
      opacity: 1;
    }
    .button {
      border: 0.5vw solid #000;
      text-shadow: 0.25vw 0.25vw #000a;
      font-size: 4vw;
      padding: 0.66vw 1.66vw;
      box-shadow:
        inset -0.5vw -0.5vw #0006,
        inset 0.33vw 0.33vw #fff7;
      color: #fff;
      background-clip: #595959;
    }
    .minecraft li {
      font-size: 4vw;
      text-shadow: 0.1vw 0.1vw 0.1vw #000c;
      margin-left: 6.2vw;
    }
    #mc-pobierz .data span {
      font-size: 3.4vw;
    }
  }
</style>
