---
interface Props {
  id?: string;
}

const { id } = Astro.props;

const PLAYER_URL = import.meta.env.RADIO_PLAYER_URL;
---

<section id={id} class="radio">
  <div class="elements">
    <div class="content">
      <div id="radio-opis" class="subelement">
        <span class="desc">
          Discord posiada własne radio. Wspólnie z aktywnymi użytkownikami serwera zostały
          zrealizowane dwa sezony. Pierwszy głównie opierał się na krótkich, humorystycznych
          wywiadach, które niestety powodowały dyskomfort u słuchacza. W drugim każdy epizod był
          oddzielnym miniteleturniejem sprawdzającym wiedzę Gumciaczków.
        </span>
      </div>
      <div id="radio-audycje" class="subelement" style="display: none">
        <iframe></iframe>
      </div>
    </div>
    <div class="scroll">
      <button class="active">Opis</button>
      <button>Odtwarzacz</button>
    </div>
  </div>
  <div class="sect-name">
    <span class="sect-name-text"> Radio </span>
  </div>
</section>

<style>
  @keyframes to-right-bottom {
    from {
      background-position: 0px 0px;
    }
    to {
      background-position: 512px 512px;
    }
  }
  .radio {
    width: 100%;
    min-height: 500px;
    display: flex;
    background-color: #112;

    background-image: url("./radio-bg.gif");
    background-size: 256px;
    background-attachment: fixed;
    animation: to-right-bottom 10s linear infinite;

    justify-content: space-evenly;
    align-items: center;
    scroll-snap-align: center;
    padding: 1vw;
    box-shadow: 0 0 1vw 0 #000;
    overflow: hidden;
  }
  .elements {
    width: min(50vw, 1000px);
    aspect-ratio: 16/11;
    /* background: #000; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .sect-name-text {
    font-size: min(8vw, 160px);
  }
  .content {
    width: 100%;
    height: 91%;
    overflow: hidden;
    border: min(0.4vw, 8px) solid #fff;
    border-bottom: none;
    background-color: #111419;
    border-top-left-radius: min(1vw, 20px);
    border-top-right-radius: min(1vw, 20px);
  }
  .scroll {
    width: 100%;
    height: 9%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .scroll button {
    appearance: none;
    border: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Source Code Pro";
    cursor: pointer;
    user-select: none;
    font-size: min(2vw, 40px);
    background-color: #0d0e13;
    border-top: min(0.4vw, 8px) solid transparent;
    transition:
      background-color 0.1s ease-in-out,
      border-color 0.1s ease-in-out;
  }
  .scroll button:hover {
    background-color: #111419;
  }
  .scroll button.active {
    border-color: #fff;
    cursor: default;
  }
  .scroll button.active:hover {
    background-color: #0d0e13;
  }
  .subelement {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .desc {
    padding: min(3vw, 60px);
    font-family: Ubuntu;
    font-size: min(2.4vw, 48px);
  }
  .radio iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
  .radio iframe:empty {
    background: transparent url("../assets/odswiez.svg") no-repeat center;
    background-size: 150px;
  }

  @media (max-width: 500px) {
    .radio {
      flex-direction: column-reverse;
    }
    .sect-name-text {
      font-size: 12vw;
    }
    .elements {
      width: 90vw;
      margin-bottom: 2vw;
    }
    .desc,
    .scroll button {
      font-size: 4.6vw;
    }
  }
</style>
